@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


:root {
    --white: #f5f5f5;
    --pink: rgba(228, 137, 137, 0.9);
    --dim-grey: rgba(109, 109, 100, 1);
    --dark-grey: rgba(51, 51, 51, 1);
}


body {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dim-grey)
}

h1, h2, h3 {
    font-family: "poiret one", sans-serif;
    color: var(--dark-grey)
}

a {
    text-decoration: none;
    color: var(--dark-grey)
}

p {
    text-align: center;
}

/* header*/

header {
    background-color: var(--pink);
}

#logo {
    padding: 10px;
    text-decoration: underline;
}

#nav-bar {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
    padding-bottom: 10px
}

#nav-list > li {
    display: inline;
    padding:5px;
}

/* Hero Image*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-birch-ply.jpg) no-repeat center center;
    background-size: cover;
}

#hero-outer {
    position: relative;
}

#cover-text {
    text-align: center;
    width: 300px;
    height:100px;
    border-radius: 15px;
    padding: 10px;
    bottom: 40px;
    right: 40px;
    vertical-align: middle;
    background-color: var(--pink);
    position: absolute;
}

/* what & why section*/

#what-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#why-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.what-why-item {
    background-color: var(--white);
    width: 66%;
    margin: 10px;
    flex-grow: 1;
    text-align: center;
    /* height: 400px; */
}

/* 
#what-why-img {
    
    border-radius: 15px;
    height: 400px;
} */

.why-img {
    width: 100%;
    height: 400px;
    border-radius: 15px;

}

.what-image {
    width: 100%;
    height: 400px;
    border-radius: 15px;
}

/* 
#what-why-para {
    text-align: center;
} */

/* footer*/

#footer {
    background-color: var(--pink);
    width: 100%;
}

#footer-contact {
    margin-bottom: 20px;
}
#footer-contact > p {
    padding: 10px
}

#socials > li {
    display: inline;
    font-size: 2em;
    padding: 25px;
}
 #socials {
    text-align: center;
  
 }

 #copyright {
    padding: 20px;
 }

/* about page */

 #about-paragraph {
        width: 75%;
        padding-bottom: 100px;
        margin: 25px auto;
        text-align: center;
 }

 #flexbox-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    
    margin-bottom: 100px;
    
}

.flexbox-item {
    height: 300px;
    width: 300px;
    background-color: aqua;
    
    border-radius: 50%;
    margin: 10px;
    flex-grow: 1;
}

#contact-us-para {
    width: 75%;
    padding-bottom: 100px;
    margin: 25px auto;
    text-align: center
}


form{
    display: flex;
    flex-direction: column;
    border: solid 4px;
    border-radius: 15px;
    margin: 25px auto;
    padding: 10px;
    width: 75%;
}

 input {
    border: solid 2px var(--dark-grey);
    border-radius: 15px;
 }

 input[type=text] {
    width: 100%;
    height: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }

 input[type=email] {
    width: 100%;
    height: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }
 
 #input-message {
    height: 50px;
 }

 textarea{
    border: solid 2px var(--dark-grey);
    border-radius: 15px;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }
 
 #submit {
    width: 20%;
    height: 2em;
    margin-bottom: 10px;
 }

 #iframe {
    display: flex;
    justify-content: center;
      
}

iframe {
    height: 200px;
    width: 350px;
    flex-grow: 1;
    margin: 3px;
    border-radius: 15px; 
    margin-bottom: 30px;
    border: solid 2px var(--dark-grey);
}

/*confirmation page*/

#confirmation-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 10vh auto;
}

#confirmation-item {
    height: 10vh;
}


/* gallery*/

.title-projects {
    margin: 15px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; 
    /* width: 350px; */
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    vertical-align: middle;
    border-radius: 15px;
  }

  .image-gallery > li {
    position: relative;
    list-style: none;
    margin: 30px;
    /* cursor: pointer; */
  }

  .overlay {
    text-align: center;
  }

