@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


:root {
    --white: #fafafa;
    --pink: rgba(228, 137, 137, 0.9);
    --dim-grey: rgba(109, 109, 100, 1);
    --dark-grey: rgba(51, 51, 51, 1);
}


body {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dim-grey)
}

h1, h2, h3 {
    font-family: "poiret one", sans-serif;
    color: var(--dark-grey)
}

a {
    text-decoration: none;
    color: var(--dark-grey)
}

/* header*/

header {
    background-color: var(--pink);
}

#logo {
    padding: 10px;
    text-decoration: underline;
}

#nav-bar {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
    padding-bottom: 10px
}

#nav-list > li {
    display: inline;
    padding:5px;
}

/* Hero Image*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-birch-ply.jpg) no-repeat center center;
    background-size: cover;
}