@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


:root {
    --white: #f5f5f5;
    --pink: rgba(228, 137, 137, 0.8);
    --pink-solid: rgba(228, 137, 137, 1);
    --dim-grey: rgba(109, 109, 100, 1);
    /* --dark-grey: rgba(51, 51, 51, 1); */
    --dark-grey: rgba(109, 109, 100, 1);
    --dim-grey-trans: rgba(109, 109, 100, 0.8);
}


body {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dim-grey);
    letter-spacing: 1px;
}

h1, h2 {
    font-family: "poiret one", sans-serif;
    color: var(--dark-grey)
}

h3 {
    font-family: "poiret one", sans-serif;  
}

a {
    text-decoration: none;
    color: var(--dim-grey)
}

a:hover {
    color: black;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}


p {
    text-align: center;
}

 /* header*/
header {
    width: 100%;
    background-color: var(--pink);
    position: fixed;
    z-index: 100;
    top: 0;
}

#logo {
    padding: 10px;
    text-decoration: underline;
}

#nav-bar {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
    padding-bottom: 10px
}

#nav-list > li {
    display: inline;
    padding:5px;
}

/* Hero Image*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image-birch-ply.jpg) no-repeat center center;
    background-size: cover;
}

#hero-outer {
    position: relative;
    padding-top: 95px;
}

#cover-text {
    text-align: center;
    font-size: 1.2em;
    width: 260px;
    height:90px;
    border-radius: 15px;
    padding: 10px;
    bottom: 70px;
    right: 20px;
    vertical-align: middle;
    background-color: var(--dim-grey-trans);
    color: var(--pink-solid);
    position: absolute;
}

/* what & why section*/

#main-section {
    margin-bottom: 50px;
}

#what-container, #why-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}

#what-container {
    flex-flow: column-reverse;
}

.what-why-item {
    background-color: var(--white);
    width: auto;
    margin: 10px 50px;
    flex-grow: 1;
    text-align: center;
}

.what-why-item > h2 {
    text-decoration: underline;
    padding-bottom: 20px;
}


.what-image, .why-img {
    border-radius: 15px;
    /* width: 100%;
    height: 400px;
    
    margin-top: 40px; */
}

#what-why-para > p {
    padding-bottom: 10px;
    
}

 @media screen and (min-width: 700px) 
{
  #what-container, #why-container {
      flex-flow: row;
  }

}

 
/* footer*/

#footer {
    background-color: var(--pink);
    width: 100%;
}

#footer-contact {
    margin-bottom: 20px;
}
#footer-contact > p {
    padding: 10px
}

#socials > li {
    display: inline;
    font-size: 2em;
    padding: 25px;
}
 #socials {
    text-align: center;
  
 }

 #copyright {
    padding: 20px;
 }

/* about page */

 #about-paragraph {
        width: 75%;
        padding:75px 0px;
        margin: 25px auto;
        text-align: center;
 }

 #about-paragraph > h2 {
    text-decoration: underline;
    padding-bottom: 20px;
 }

 #flexbox-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    
    margin-bottom: 100px;
    
}

.flexbox-item {
    height: 300px;
    width: 300px;
    background-color: aqua;
    
    border-radius: 50%;
    margin: 10px;
    flex-grow: 1;
}

#contact-us-para {
    width: 75%;
    padding-bottom: 50px;
    padding-top: 100px;
    margin: 25px auto;
    text-align: center;
    border-top: solid var(--dim-grey) 2px;
}

#contact-us-para > h2 {
    text-decoration: underline;
    padding-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    border: solid 4px;
    border-radius: 15px;
    margin: 25px auto;
    padding: 10px;
    width: 75%;
}

 input {
    border: solid 2px var(--dark-grey);
    border-radius: 15px;
 }

 input[type=text] {
    width: 100%;
    height: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }

 input[type=email] {
    width: 100%;
    height: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
 }
 
 
 textarea{
    border: solid 2px var(--dark-grey);
    border-radius: 15px;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
 }
 
 #submit {
    width: 20%;
    height: 2em;
    margin-bottom: 10px;
 }

 #iframe {
    display: flex;
    justify-content: center;
      
}

iframe {
    height: 200px;
    width: 350px;
    flex-grow: 1;
    border-radius: 15px; 
    margin: 30px 10px;
    border: solid 2px var(--dark-grey);
}

/*confirmation page*/

#confirmation-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 15.25vh auto;
}

#confirmation-item {
    height: 10vh;
    padding: 0 15px;
}


/* gallery*/

.title-projects {
    margin-top: 120px;
    text-align: center;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; 
    /* width: 350px; */
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    vertical-align: middle;
    border-radius: 15px;
  }

  .image-gallery > li {
    position: relative;
    list-style: none;
    margin: 30px;
    /* cursor: pointer; */
  }

  .overlay {
    text-align: center;
    padding-top: 10px;
  }


  