@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}


:root {
    --white: #f5f5f5;
    --pink: rgba(189, 128, 118, 0.8);
    --pink-solid: rgba(189, 128, 118, 1);
    --dim-grey: rgba(109, 109, 100, 1);
    --dark-green: rgb(66, 117, 99);
    --dim-grey-trans: rgba(109, 109, 100, 0.8);
}


body {
    font-family: "raleway", sans-serif;
    font-weight: bold;
    background-color: var(--white);
    color: var(--dim-grey);
    letter-spacing: 1px;
    line-height: 1.5em;
}

h1{
    font-family: "poiret one", sans-serif;
    color: var(--dim-grey);
}

h2 {
    font-family: "poiret one", sans-serif;
    color: var(--dark-green);
}

h3 {
    font-family: "poiret one", sans-serif;  
}

a {
    text-decoration: none;
    color: var(--dim-grey)
}

a:hover {
    color: black;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}


p {
    text-align: center;
}


 /* header*/
header {
    width: 100%;
    background-color: var(--pink);
    position: fixed;
    z-index: 100;
    top: 0;
}

#logo {
    padding: 15px;
    text-decoration: underline;
}

#nav-bar {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 10px
}

#nav-list > li {
    display: inline;
    padding:5px;
}

/* Hero Image*/

#hero-image {
    height: 500px;
    width: 100%;
    background: url(../images/chair.webp) no-repeat center center;
    background-size: cover;
}

#hero-outer {
    position: relative;
    padding-top: 95px;
}

#cover-text {
    text-align: center;
    font-size: 1.2em;
    width: 250px;
    height:110px;
    border-radius: 30px;
    padding: 10px;
    bottom: 25px;
    right: 20px;
    vertical-align: middle;
    background-color: var(--dim-grey-trans);
    color: var(--white);
    position: absolute;
}

#cover-text > h3 {
    padding: 10px;
}

/* what & why section*/

#intro {
    text-align: center;
    margin: 25px;
    
}

#intro > h2 {
    text-decoration: underline;
    padding-bottom: 25px;
}

#main-section {
    margin-bottom: 50px;
}

#what-container, #why-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}

#why-container {
    flex-flow: column-reverse;
}

.what-why-item {
    background-color: var(--white);
    width: auto;
    margin: 25px 50px;
    flex-grow: 1;
    text-align: center;
}

.what-why-item > h2 {
    text-decoration: underline;
    padding-bottom: 20px;
}


.what-image, .why-img {
    border-radius: 15px;
    height: 400px;
    
    margin-top: 40px;
}

.what-why-item > p {
    padding-bottom: 10px;
    
}

 
 
/* footer*/

#footer {
    background-color: var(--pink);
    width: 100%;
}

#footer-contact {
    margin-bottom: 20px;
}
#footer-contact > p {
    padding: 10px
}

#socials > li {
    display: inline;
    font-size: 2em;
    padding: 25px;
}
 #socials {
    text-align: center;
  
 }

 #copyright {
    padding: 20px;
 }

/* about page */

 #about-paragraph {
        width: 75%;
        padding:75px 0px;
        margin: 25px auto;
        text-align: center;
 }

 #about-paragraph > h2 {
    text-decoration: underline;
    padding-bottom: 20px;
 }

 #about-paragraph > p {
    padding-bottom: 20px;
 }

 #circle-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
}

.circle-img-item {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 10px;
    flex-grow: 1;
    object-fit: cover;
}

#contact-us-para {
    width: 75%;
    padding-bottom: 50px;
    padding-top: 100px;
    margin: 25px auto;
    text-align: center;
    border-top: solid var(--dim-grey) 2px;
}

#contact-us-para > h2 {
    text-decoration: underline;
    padding-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    border: solid 4px var(--dim-grey);
    border-radius: 15px;
    margin: 25px auto;
    padding: 10px;
    width: 75%;
}

 input {
    border: solid 2px var(--dark-green);
    border-radius: 15px;
 }

 input[type=text] {
    width: 100%;
    height: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
 }

 input[type=email] {
    width: 100%;
    height: 2em;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
 }
 
 
 textarea{
    border: solid 2px var(--dark-green);
    border-radius: 15px;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
 }
 
 #submit {
    width: 20%;
    height: 2em;
    margin-bottom: 10px;
 }

 #iframe {
    display: flex;
    justify-content: center;
      
}

iframe {
    height: 200px;
    width: 350px;
    flex-grow: 1;
    border-radius: 15px; 
    margin: 30px 20px;
    border: solid 2px var(--dark-green);
}

/*confirmation page*/

#confirmation-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    margin: 15.25vh auto;
}

.confirmation-item {
    height: 10vh;
    padding: 0 15px;
}


/* gallery*/

.title-projects {
    margin: 100px;
    text-align: center;
    text-decoration: underline;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; 
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    vertical-align: middle;
    border-radius: 15px;
  }

  .image-gallery > li {
    position: relative;
    list-style: none;
    margin: 30px;
   
  }

  .overlay {
    text-align: center;
    padding-top: 10px;
  }


  @media screen and (min-width: 700px) 
{

    #logo{
        margin-left: 25px;
    }

    #nav-list > li {
        padding: 25px;
    }

    #nav-bar {
        margin-right: 25px;
    }



#main-section {
    margin: 50px;
}

#cover-text {
    width: 260px;
    height: 110px;
    border-radius: 30px;
    bottom: 70px;
    right: 200px;
}

  #hero-image {
    background: url(../images/hero-sideboard.jpg) no-repeat center center;
    background-size: cover;
    
}

#intro {
    margin: 75px;
}

#circle-img-container {
    flex-direction: row;
    justify-content: center;
}

form {
    width: 40%;
}
}



@media screen and (min-width: 850px) 
{
    #what-container, #why-container {
        flex-flow: row;
        
    }
}


@media screen and (min-width: 1100px) 
{
    #what-container, #why-container {
        flex-flow: row;
        margin: 75px;
    }
}